{{ define "main" }}
<main aria-role="main">
  <div style="text-align: center;">
    <h1>{{ .Site.Title }}</h1>
    <img src="/img/main.jpg" alt="Profile Image"
      style="height: 144px; width: 144px; border-radius: 100%; margin: 0 auto 10px; margin-top: 20px;">
    <br>
    {{- with .Site.Params.social }}
    <div>
      {{ partial "social-icons.html" . }}
    </div>
    {{- end }}
    <br>
    <div style="margin-bottom: 20px;">Android Hacking | Binary Exploitation Adventures | CTF Player @p3rf3ctr00t
    </div>
    <div style="margin-top: 20px;">
      <a href="/certifications/" style="margin-right: 15px; font-size: 1.5em;">Certifications</a>
    </div>
  </div>
</main>
{{ end }}