<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<head>
  {{ block "title" . }}
  <title>
    {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
    {{ . }}{{ end }}{{ else }}{{ .Title }} ::
    {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
  </title>
  {{ end }}
  {{ partial "head.html" . }}
  <style>
    body {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    code,
    pre {
      color: rgb(200, 200, 200);
      /* Light gray for code */
      background-color: rgb(41, 39, 39);
      /* Dark background for code */
      padding: 2px 4px;
      border-radius: 4px;
    }
  </style>
</head>

<body {{ with $.Site.Params.defaultTheme -}} class="{{ printf " %s-theme" . }}" {{- end }}>
  <!-- <div
    style="background-image: url('/img/background.png'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; width: 100vw;"
    > -->
  <div class="container">
    <!-- <header style="padding: 20px 20px;">
      <span class="header__inner">
        {{ partial "logo.html" . }}
        <span class="header__right">
          {{ if len $.Site.Menus }}
          {{ partial "menu.html" . }}
          <span class="menu-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
          </span>
          {{ end }}
          <span class="theme-toggle">
            {{ partial "theme-icon.html" . }}
          </span>
        </span>
      </span>
    </header> -->
    {{ partial "header.html" . }}

    <div style="text-align: center;">
      <h1>{{ .Site.Params.Title }}</h1>
      <img src="/img/main.jpg" alt="Profile Image"
        style="height: 144px; width: 144px; border-radius: 100%; margin: 0 auto 10px; margin-top: 20px;">
      <br>
      {{- with .Site.Params.social }}
      <div>
        {{ partial "social-icons.html" . }}
      </div>
      {{- end }}
      <br>
      <div style="margin-bottom: 20px;">Android Security Researcher | Binary Exploitation | CTF Player @p3rf3ctr00t
      </div>
      <!-- <div style="margin-top: 20px;">
        <a href="/certifications/" style="margin-right: 15px; font-size: 1.5em;">Certifications</a>
      </div> -->
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </div>

  {{ if $.Site.Config.Services.GoogleAnalytics.ID }}
  {{ template "_internal/google_analytics.html" . }}
  {{ end }}
</body>
<!-- Buy Me a Coffee Widget -->
{{ partial "buy_me_a_coffee" . }}

</html>